<!--
 * @Author: SonLight Tech
 * @Date: 2023-05-29 11:02:48
 * @LastEditors: light
 * @LastEditTime: 2023-05-29 16:20:33
 * @Description: SonLight Tech版权所有
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>支付</title>
    <link href="/public/sunphp/css/mui.min.css?v={php}echo time();{/php}" rel="stylesheet">
    <script type="text/javascript" src="/public/sunphp/js/jquery-1.11.1.min.js?v={php}echo time();{/php}"></script>
    <script type="text/javascript" src="/public/sunphp/js/mui.min.js?v={php}echo time();{/php}"></script>
    <script type="text/javascript" src="/public/sunphp/js/util.js?v={php}echo time();{/php}"></script>
    <script type="text/javascript" src="/public/sunphp/js/qrcode.min.js?v={php}echo time();{/php}"></script>

    <style type="text/css">
        .sunphp-mui{
            font-size: 16px;
        }
        .sunphp-title{
            margin: 10px 15px;
        }
        .sunphp-mute{
            color:#979797
        }
        .sunphp-scan{
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100%;
            flex-direction: column;
            top: 0px;
            display: flex;
            z-index: 100;
            align-items: center;
            justify-content: center;
            display: none;
        }
        .qrcode-btn{
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            width: 300px;
        }
        #qrid{
            border:15px solid white;
        }
    </style>
</head>
<body>

    <div class="sunphp-mui">
        <div class="sunphp-title sunphp-mute">我的订单</div>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                订单名称<span class="mui-pull-right sunphp-mute">{$title}</span>
            </li>
            <li class="mui-table-view-cell">
                订单编号<span class="mui-pull-right sunphp-mute">{$ordersn}</span>
            </li>
            <li class="mui-table-view-cell">
                订单价格<span class="mui-pull-right" style="color:#04be02;">{$fee} 元</span>
            </li>
        </ul>

        <div class="sunphp-title sunphp-mute">支付方式</div>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell mui-media">
                <a onclick="tapWechat()" href="javascript:;" class="mui-navigate-right">
                    <img class="mui-media-object mui-pull-left" src="/public/sunphp/images/wx.png">
                    <div class="mui-media-body">
                        微信支付
                        <p class="mui-ellipsis">选择微信支付</p>
                    </div>
                </a>
            </li>

            <li class="mui-table-view-cell mui-media">
                <a onclick="tapAli()" href="javascript:;" class="mui-navigate-right">
                    <img class="mui-media-object mui-pull-left" src="/public/sunphp/images/zfb.png">
                    <div class="mui-media-body">
                        支付宝
                        <p class="mui-ellipsis">选择支付宝支付</p>
                    </div>
                </a>
            </li>
        </ul>


        <!-- 微信pc扫码支付 -->
        <div class="sunphp-scan" onclick="tapScan()">
            <div id = "qrid"></div>
            <div class="qrcode-btn">
                <button class="mui-btn">关闭支付</button>
                <button class="mui-btn mui-btn-success" onclick="scanSuccess()">支付成功</button>
            </div>
        </div>



    </div>
    <script>
        // 支付订单信息
        var pay_data={
            "module":'{$module}',
            "tid" : '{$tid}',      //模块中的唯一订单号
            "ordersn" : '{$ordersn}',  //显示订单号
            "title" : '{$title}',      //标题
            "fee" : '{$fee}',      //支付金额，单位元
        };


        mui.init();
        mui.plusReady(function(){
            // app运行
            console.log('app')
        });
        mui.ready(function(){
            //全部运行
            console.log('web')
        });

        function tapScan(){
            document.querySelector('.sunphp-scan').style.display='none';
        }
        function scanSuccess(){
            event.stopPropagation();
            if(document.referrer){
                window.location.href=document.referrer;
            }else{
                tapScan();
            }
        }

        function is_weixin() {
            var ua = navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == "micromessenger") {
                return true;
            } else {
                return false;
            }
        }

        function is_h5(){
            var client =/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            return client
        }

        var sunphp_wxjspay;
        //发起微信支付，微信支付依赖于 WeixinJSBridge 组件，所以发起时应该在ready事件中进行
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

            sunphp_wxjspay=function(data){

                return new Promise((resolve,reject)=>{

                    util.pay({
                        orderFee : data.fee,//金额，单位元
                        payMethod : 'wechat',
                        orderTitle : data.title,
                        orderTid : data.tid,//模块内唯一的订单号
                        module : data.module,//当前模块标识
                        success : function(result) {
                            resolve();
                        },
                        fail : function(result) {
                            reject();
                        },
                        complete : function(result) {
                        }
                    });

                });
            }

        });

        function tapWechat(){
            if(is_weixin()){
                //微信内支付——没有区分普通页面、小程序webview

                sunphp_wxjspay(pay_data).then(res=>{
                    console.log('支付成功');
                    //跳转
                    window.history.back();

                }).catch(err=>{
                    console.log('支付失败')
                });

            }else{
                if(is_h5()){
                    //手机浏览器
                    util.wechatWap({
                        orderFee : pay_data.fee,//金额，单位元
                        payMethod : 'wechat',
                        orderTitle : pay_data.title,
                        orderTid : pay_data.tid,//模块内唯一的订单号
                        module : pay_data.module,//当前模块标识
                        success : function(result) {
                            if(result.h5_url){
                                window.location.replace(result.h5_url);
                            }
                        },
                        fail : function(result) {
                        },
                        complete : function(result) {
                        }
                    });

                }else{
                    //pc浏览器
                    util.wechatScan({
                        orderFee : pay_data.fee,//金额，单位元
                        payMethod : 'wechat',
                        orderTitle : pay_data.title,
                        orderTid : pay_data.tid,//模块内唯一的订单号
                        module : pay_data.module,//当前模块标识
                        success : function(result) {
                            if(result.code_url){
                                document.querySelector('#qrid').innerHTML='';
                                $('#qrid').qrcode({width: 300,height: 300,text: result.code_url});//指定二维码大小
                                document.querySelector('.sunphp-scan').style.display='flex';
                            }
                        },
                        fail : function(result) {
                        },
                        complete : function(result) {
                        }
                    });
                }
            }
        }
        function tapAli(){
            if(is_h5()){
                var h5_aliurl=util.alipayH5({
                        orderFee : pay_data.fee,//金额，单位元
                        payMethod : 'alipay',
                        orderTitle : pay_data.title,
                        orderTid : pay_data.tid,//模块内唯一的订单号
                        module : pay_data.module
                    });
                window.location.replace(h5_aliurl);

            }else{
                var web_aliurl=util.alipayWeb({
                        orderFee : pay_data.fee,//金额，单位元
                        payMethod : 'alipay',
                        orderTitle : pay_data.title,
                        orderTid : pay_data.tid,//模块内唯一的订单号
                        module : pay_data.module
                    });
                window.location.replace(web_aliurl);
            }
        }
    </script>

</body>
</html>